$buttons-text: #FFFFFF;
$buttons-background: #403432;
$button-hover: #776763;
$button-cart: #5B3A32;
$button-disabled: #C1B4B1;

$main: #343030;
$border: #E1E1E1;
$focus-inputs: #B5B5B5;
$discount: #A0A0A0;
$footer-background: #ECEAEA;